In [234]:
import numpy as np
import geopy.distance
import pandas as pd
import ast
import math
import ast

In [235]:
distance_df = pd.read_csv('distance_bus_stop_supermarket.csv')
distance_df = distance_df.set_index('Unnamed: 0')
distance_df.tail()

,3a286bedc2bf2db640f38da2b0335db7117890cf,f4f79b81ea0d4ece112490f46cfbed4a4c98db84,6f898df83ae1b603a902ccad260df28097036819,f209f93c6e8769412c024c8dc57e40daebb0a32a,adc6588340d9fede626af3f9c7379d95d1c640ed,3fb3bb737c3bd049a542441223e0f80a5f360b6a,8148394ee144c5d6e2775e66afc23c32dc721af4,48f42da90dbe8031b139ab8b866df995175fdf57,5b600185656abb9631da18d40a29ae791ebedeba,5ecc12bef9a0ff4480a63f8212c749c804aa8d33,...,3c91e85cda097899ab49b5bd0b1db5b27ab47e48,bfabdf969a89e8410126c3ca0daa04da1f397cc1,e7c8e66416008a633c4e87ffe9dd4542ba7bd20d,a947a3f2bae2f43261c1f38fa91ace1b9218e6a4,0f1f2ab149857f40822727468b8fa2cd384f8d17,3b59ec7229d0035bc95b1c023f3305c66df26061,40a228835377fa6763c0e2ad0c99d76e7c674c11,5ffaf337beedcc5a167006b2b42a47efa0d92a78,f951d659e42009446f40ee523c20554601df7956,4655c72bfcb0fa0f62cd62bdc5bd70171a62d3ad
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
765,6.055730,6.120190,5.923750,6.269007,5.969711,5.858725,5.922811,5.867968,7.142998,6.975748,...,1.609530,1.564155,4.634472,3.051481,5.745422,5.369918,4.772653,4.656401,4.253934,4.042489
766,6.836234,6.923784,6.713312,7.027069,6.761206,6.641313,6.710581,6.652509,7.967392,7.769027,...,2.611028,2.591991,5.655664,3.941102,6.772538,6.365541,5.767354,5.644119,5.229604,5.013798
767,7.655416,7.750615,7.535927,7.837640,7.584360,7.461726,7.532593,7.473565,8.799199,8.590651,...,3.388978,3.413886,6.446478,4.795812,7.581378,7.109195,6.511967,6.379680,5.952126,5.732557
768,8.118027,8.213672,7.998783,8.299396,8.047246,7.924440,7.995411,7.936322,9.262355,9.053401,...,3.774006,3.826173,6.828609,5.254888,7.975053,7.458216,6.863045,6.725346,6.290998,6.069923
769,8.349182,8.443408,8.229322,8.531863,8.277691,8.155364,8.226061,8.167136,9.491049,9.284222,...,3.939466,4.008718,6.987848,5.474330,8.141071,7.596233,7.002868,6.862030,6.424112,6.202431

In [236]:
def filterRadio(r,distance_df):
    """
    Returns the dataframe filtered per r  
    """
    return distance_df[distance_df<r]

In [237]:
def busRCount(r, bus_id):
    """
    Returns the number of supermarket that are located more than r kms from the bus stop.
    """
    return sum(distance_df.loc[bus_id]<r)

In [238]:
busRCount(10, 4)

325

In [239]:
# These are the columns
#for i in distance_df:
#    print(i)

In [240]:
ind = [*(distance_df.index)]

In [241]:
ind[:5]

[4, 5, 6, 7, 8]

In [242]:
list_sum_d=[]
for index in ind:
    try:
        list_sum_d.append(sum(distance_df.iloc[index]<2))
    except: 
        list_sum_d.append('missing')

In [243]:
cond = [list_sum_d[k]=='missing' for k in range(len(list_sum_d))]

In [278]:
cond.index(True)
num_supermarkets = len(distance_df.columns)

In [245]:
ind_missing = list_sum_d.index('missing')

In [246]:
ind_missing

109

In [247]:
distance_df = distance_df.drop(distance_df.index[109])
distance_df.index[109]

116

list_sum_d=[]
for index in ind[:150]:
    list_sum_d.append(sum(distance_df.iloc[index]<2))

In [248]:
print(distance_df.loc[116][:3])
print(distance_df.iloc[109][:3])

3a286bedc2bf2db640f38da2b0335db7117890cf    0.821349
f4f79b81ea0d4ece112490f46cfbed4a4c98db84    0.792169
6f898df83ae1b603a902ccad260df28097036819    0.956015
Name: 116, dtype: float64
3a286bedc2bf2db640f38da2b0335db7117890cf    0.821349
f4f79b81ea0d4ece112490f46cfbed4a4c98db84    0.792169
6f898df83ae1b603a902ccad260df28097036819    0.956015
Name: 116, dtype: float64

In [249]:
#distance_df = distance_df.drop(117)#.loc[117]
#distance_df.loc[117]

In [250]:
def funcNumSupPerBus(r):
    list_sum_d=[]
    for index in ind:
        try:
            list_sum_d.append(sum(distance_df.loc[index]<r))
        except: 
            list_sum_d.append('missing')
    return list_sum_d

In [251]:
list_sum_d = funcNumSupPerBus(1)

In [252]:
list_sum_d.index('missing')

109

In [253]:
list_sum_d[:5]

[6, 5, 2, 2, 0]

In [254]:
df_num_sup_per_bas = pd.DataFrame(index = ind)

In [255]:
len(df_num_sup_per_bas)

746

In [256]:
len(funcNumSupPerBus(1))

746

In [257]:
df_num_sup_per_bas['r=1']=funcNumSupPerBus(1)

In [258]:
df_num_sup_per_bas['r=2']=funcNumSupPerBus(2)

In [259]:
df_num_sup_per_bas['r=3']=funcNumSupPerBus(3)

In [260]:
df_num_sup_per_bas['r=4']=funcNumSupPerBus(4)

In [261]:
df_num_sup_per_bas['r=5']=funcNumSupPerBus(5)

In [262]:
df_num_sup_per_bas.head()

  r=1 r=2 r=3  r=4  r=5
4   6  25  62  126  174
5   5  13  49   82  150
6   2  10  42   69  126
7   2   8  27   55  105
8   0   2  18   49   81

In [263]:
bus_stop_df = pd.read_csv('bus_stop_swiss_coord.csv')

In [264]:
df_num_sup_per_bas['Occupacy'] = bus_stop_df['Occupancy']

In [265]:
df_num_sup_per_bas.head()

  r=1 r=2 r=3  r=4  r=5   Occupacy
4   6  25  62  126  174  16.697302
5   5  13  49   82  150  14.369453
6   2  10  42   69  126  12.944104
7   2   8  27   55  105  12.088458
8   0   2  18   49   81  11.357687

In [266]:
bus_stop_df.columns

Index(['Unnamed: 0', 'Stop_Id', 'Stop_Number', 'Haltestellenkurzname',
       'Haltestellenlangname', 'Occupancy', 'NHSTID', 'Y_KOORD', 'X_KOORD',
       'CHSTNAME', 'CNAME', 'VTYP', 'HSTTYP', 'HAFAS_PRIO', 'LINKTEXT',
       'ZONEN', 'SYMB_CODE', 'SYMB_TEXT', 'LINIEN', 'E', 'N', 'E_global',
       'N_global'],
      dtype='object')

In [267]:
df_num_sup_per_bas['Bus Stop Name'] = bus_stop_df['Haltestellenlangname']

In [268]:
df_num_sup_per_bas['E_global'] = bus_stop_df['E_global']
df_num_sup_per_bas['N_global'] = bus_stop_df['N_global']
df_num_sup_per_bas.head()

,r=1,r=2,r=3,r=4,r=5,Occupacy,Bus Stop Name,E_global,N_global
4,6,25,62,126,174,16.697302,"Zollikon, Beugi",47.336475,8.575071
5,5,13,49,82,150,14.369453,"Zollikon, Goldhaldenplatz",47.334920,8.577710
6,2,10,42,69,126,12.944104,"KÃ¼snacht ZH, BÃ¼hlstrasse",47.331906,8.579631
7,2,8,27,55,105,12.088458,"KÃ¼snacht ZH, Goldbacherstrasse",47.329226,8.580473
8,0,2,18,49,81,11.357687,"KÃ¼snacht ZH, Boglerenstrasse",47.326257,8.582341

In [269]:
col = ['Bus Stop Name', 'E_global', 'N_global', 'Occupacy', 'r=1', 'r=2', 'r=3', 'r=4', 'r=5']

In [270]:
df_num_sup_per_bas = df_num_sup_per_bas[col]

In [271]:
df_num_sup_per_bas.head()

,Bus Stop Name,E_global,N_global,Occupacy,r=1,r=2,r=3,r=4,r=5
4,"Zollikon, Beugi",47.336475,8.575071,16.697302,6,25,62,126,174
5,"Zollikon, Goldhaldenplatz",47.334920,8.577710,14.369453,5,13,49,82,150
6,"KÃ¼snacht ZH, BÃ¼hlstrasse",47.331906,8.579631,12.944104,2,10,42,69,126
7,"KÃ¼snacht ZH, Goldbacherstrasse",47.329226,8.580473,12.088458,2,8,27,55,105
8,"KÃ¼snacht ZH, Boglerenstrasse",47.326257,8.582341,11.357687,0,2,18,49,81

In [272]:
df_num_sup_per_bas.sort_values(by='Occupacy', axis=0, inplace=True, ascending=False)

In [273]:
df_num_sup_per_bas.head()

,Bus Stop Name,E_global,N_global,Occupacy,r=1,r=2,r=3,r=4,r=5
215,"ZÃ¼rich, Letzigrund",47.381232,8.503729,55.478367,41,110,185,226,272
206,"ZÃ¼rich, BezirksgebÃ¤ude",47.374165,8.525555,53.227975,0,0,0,0,0
213,"ZÃ¼rich, Lochergut",47.375410,8.517503,52.016928,0,0,2,6,34
308,"ZÃ¼rich, Museum Rietberg",47.360715,8.531556,51.742022,5,35,60,108,190
108,"ZÃ¼rich, Rennweg",47.373101,8.538272,51.417145,21,95,163,244,287

In [274]:
df_num_sup_per_bas.to_csv('supermakets_per_bus_stop_occupacy.csv', index=False)

In [275]:
len(df_num_sup_per_bas.columns)

9